body {
    margin: 0;
    text-align: center;
    background-color: rgb(104, 42, 42);
}
hr {
    color: black;
    border-style: dotted;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    width: 10%;
    border-width: 20px;
}
h1 {
    margin-top: 0;
    margin:0 auto;
    font-size: 5rem;
    color: rgb(0, 0, 0);
}
h3 {
    font-size: 30px;
    margin:0;
    color: rgb(82, 2, 2);
}
.top-container {
    margin-top: 100px;
    font-family: fantasy;
    
}
.sub-containers {
   width: 50%;
   margin-left: 500px;
   margin-top: 100px;
   font-size: 2rem;
}
.bottom-container {
    background-color: black;
    padding: 10px;
    margin-bottom: 0;
}

.slagga {
    position: absolute;
    left: 600px;
    top: 700px;
    width:10%;
}
.sickle {
    position: absolute;
    right: 600px;
    top: 600px;
    width:10%;
}
.er{
    text-decoration: underline;
}
.hr-1{
    padding-top: 220px;
}
div {
    margin-bottom: 80px;
}
.maya {
    width:25%;
    border-radius: 50%;
    float: left;
}
.angel {
    width:25%;
    border-radius: 50%;
    float: right;
}
.trademark {
    margin-top: 25px;
    color: beige;
}
.links {
    color: brown;
    margin: 0px auto;
}
span {
    margin: auto 25px;
}
